.texto{
    position: absolute;
    text-align: center;
    top: 40%;
    left:28%;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
   
}
.texto h3{ color: white;}
.texto a{

}
img{float: left;}