<h1>{{ rutaSeleccionada.ruta }}</h1>
<p>Costo piso 1: ${{ rutaSeleccionada.costopiso1 }}</p>
<p>Costo piso 2: ${{ rutaSeleccionada.costopiso2 }}</p>
<div>
  <div class="row"> 
    <div *ngFor="let horario of horarioService.horarios" class="col-md-4">
        <img width="300" alt="Angular Logo" src="../assets/img/transportehome.png">
      <p>{{ horario.horasalida }}</p>
      <p>{{ horario.chofer }}</p>
      <p>{{ horario.placa }}</p>
      <form #asientosForm="ngForm" (ngSubmit)="pasarHorario(asientosForm,horario)">

        <select name="nroasientos" required ngModel #nroasientos="ngModel" ng-model="nroasientos">
          <option value="" disabled selected >Número de asiento</option>
          <option value="1" ng-selected="true">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
        <button class="btn" style="margin-left: 2px">Elegir asientos</button>
        <div  role="alert" *ngIf="error1.length > 0">
            <div>{{error1}}</div>           
        </div>
      </form>
    </div>
  </div>
</div>