<div class="container">
  <div class="row">
    <div class="col s5">
      <div class="card">
        <div class="card-content">
          <form #rutaForm="ngForm" (ngSubmit)="addRuta(rutaForm)">
            <div class="row">
              <div class="input-field">
                  <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="rutaService.selectedRuta._id">
                <input type="text" name="ruta" #ruta="ngModel" [(ngModel)]="rutaService.selectedRuta.ruta" 
                placeholder="Ingrese la Ruta">
                <input type="text" name="costopiso1" #costopiso1="ngModel" [(ngModel)]="rutaService.selectedRuta.costopiso1" 
                placeholder="Ingrese el costopiso1">
                <input type="text" name="costopiso2" #costopiso2="ngModel" [(ngModel)]="rutaService.selectedRuta.costopiso2" 
                placeholder="Ingrese el costopiso2">
                
                <div class="card-action">
                  <div class="input-field col s12">
                    <button class="btn" (click)="resetForm(rutaForm)">Clean</button>

                    <button class="btn right">Save</button>
                  </div>

                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col s7">
      <table>
        <thead>
          <th>Ruta</th>
          <th>Costopiso1</th>
          <th>Costopiso2</th>
        </thead>
        <tbody>
          <tr *ngFor="let ruta of rutaService.rutas">
            <td>{{ruta.ruta}}</td>
            <td>{{ruta.costopiso1}}</td>
            <td>{{ruta.costopiso2}}</td>
            <td>
              <a (click)="editRuta(ruta)">
                <i class="material-icons">edit</i>
              </a>
              
              <a (click)="deleteRuta(ruta._id)">
                  <i class="material-icons">delete</i>
                </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>